h1 {
	font-family: Raleway, "Open Sans", sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
}

h2 {
	font-family: Raleway, "OpenSans", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 27px;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-family: Raleway, "OpenSans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 25px;
	margin:auto;
	text-align: center;
}

p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }

.header-text {color: #5f6060; font-size: 13px;}

a {text-decoration: underline; color: black;}

.header {
	background-color: #bdcbd2;
	height: 120px;
	margin-bottom: 70px;
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
	margin-bottom: 50px;
}

.labels { font-family: "Open Sans"; font-size: 9px; font-style: normal; font-variant: normal; font-weight: 400; }

.legend-text { font-family: "Open Sans"; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 550; margin: auto 5px}

.container-big {
  max-width: 850px;
  margin: auto;
}

.container-small {
  max-width: 360px;
  margin: auto;
}

.container-text{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.chart {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
}

.column-chart {
  display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	max-width: 850px;
}

.row-chart {
  display: flex;
	flex-direction: column;
}

.group {
  display: flex;
  flex-wrap: wrap-reverse;
	flex-direction: row;
  align-items: flex-end;
  margin: 0 0.5rem;
	max-height: 600px;
	max-width: 170px;
	min-width: 40px;
}

#group {
  display: flex;
  flex-wrap: wrap-reverse;
	flex-direction: row;
  align-items: flex-end;
  margin: 0 0.5rem;
	max-height: 600px;
	width: 60px;
	flex-basis: auto;
}

#Charity {
  display: flex;
  flex-wrap: wrap-reverse;
	flex-direction: row;
  align-items: flex-end;
  margin: 0 0.5rem;
	width: 145px;
}

.group-rows {
  display: flex;
  flex-wrap: wrap;
	flex-direction: row;
  margin: 1px;
}

.block {
	margin: 1px;
}

.block-row {
	margin: 1px 0.5px;
}

.legend-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.legends {
	margin: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width:  220px;
    height: 300px;
    padding: 4px;
    font-size: 11px;
		font-family: "Open Sans";
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
    line-height: normal;
    color: #383838;
    background: #DFE1E6;
    opacity: 0.5;
    border-radius: 5px;
    pointer-events: none;
}
